workflows/daily-report-simple.json
{
  "name": "Daily Report - Simple",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Hardcode dữ liệu để test\nconst articles = [\n  {\n    id: 'vnexpress-1',\n    title: 'AI ChatGPT ra mắt tính năng mới cho doanh nghiệp',\n    link: 'https://vnexpress.net/ai-chatgpt-ra-mat-tinh-nang-moi.html',\n    description: 'OpenAI công bố tính năng mới giúp doanh nghiệp tích hợp AI vào quy trình làm việc',\n    source: 'VnExpress',\n    category: 'Công nghệ',\n    pubDate: '01/05/2026 15:30'\n  },\n  {\n    id: 'vnexpress-2',\n    title: 'Startup Việt gọi vốn thành công 10 triệu USD',\n    link: 'https://vnexpress.net/startup-viet-goi-von-thanh-cong.html',\n    description: 'Startup công nghệ tài chính Việt Nam vừa hoàn tất vòng gọi vốn Series A',\n    source: 'VnExpress',\n    category: 'Kinh tế',\n    pubDate: '01/05/2026 14:20'\n  },\n  {\n    id: 'vnexpress-3',\n    title: 'Bitcoin vượt mốc 100,000 USD',\n    link: 'https://vnexpress.net/bitcoin-vuot-moc-100000-usd.html',\n    description: 'Giá Bitcoin đạt mức cao kỷ lục mới trong phiên giao dịch hôm nay',\n    source: 'VnExpress',\n    category: 'Kinh tế',\n    pubDate: '01/05/2026 13:45'\n  }\n];\n\n// Group by category\nconst categories = {};\narticles.forEach(article => {\n  const cat = article.category || 'Khác';\n  if (!categories[cat]) {\n    categories[cat] = [];\n  }\n  categories[cat].push(article);\n});\n\nconst categoryArray = Object.keys(categories).map(name => ({\n  name,\n  articles: categories[name]\n}));\n\nreturn [{\n  json: {\n    date: new Date().toLocaleDateString('vi-VN', {\n      timeZone: 'Asia/Ho_Chi_Minh',\n      day: '2-digit',\n      month: '2-digit',\n      year: 'numeric'\n    }),\n    totalArticles: articles.length,\n    totalSources: [...new Set(articles.map(a => a.source))].length,\n    totalCategories: categoryArray.length,\n    categories: categoryArray\n  }\n}];"
      },
      "name": "Load Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "const data = $input.first().json;\n\n// Tạo HTML đơn giản\nlet html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: Arial, sans-serif; max-width: 800px; margin: 0 auto; padding: 20px; }\n    h1 { color: #667eea; }\n    .stats { display: flex; gap: 20px; margin: 20px 0; }\n    .stat { background: #f0f0f0; padding: 15px; border-radius: 8px; }\n    .category { margin: 20px 0; }\n    .article { background: #f9f9f9; padding: 15px; margin: 10px 0; border-left: 4px solid #667eea; }\n    .article h3 { margin: 0 0 10px 0; }\n    .article a { color: #333; text-decoration: none; }\n    .article a:hover { color: #667eea; }\n    .meta { color: #666; font-size: 14px; }\n  </style>\n</head>\n<body>\n  <h1>📰 Báo cáo Tin tức - ${data.date}</h1>\n  \n  <div class=\"stats\">\n    <div class=\"stat\">Tổng số: <strong>${data.totalArticles}</strong></div>\n    <div class=\"stat\">Nguồn: <strong>${data.totalSources}</strong></div>\n    <div class=\"stat\">Chủ đề: <strong>${data.totalCategories}</strong></div>\n  </div>\n`;\n\ndata.categories.forEach(category => {\n  html += `\n  <div class=\"category\">\n    <h2>${category.name}</h2>\n  `;\n  \n  category.articles.forEach(article => {\n    html += `\n    <div class=\"article\">\n      <h3><a href=\"${article.link}\" target=\"_blank\">${article.title}</a></h3>\n      <div class=\"meta\">${article.source} • ${article.pubDate}</div>\n      <p>${article.description}</p>\n    </div>\n    `;\n  });\n  \n  html += `</div>`;\n});\n\nhtml += `\n  <hr>\n  <p style=\"text-align: center; color: #666;\">Powered by n8n • News Aggregator</p>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    html: html,\n    subject: `📰 Báo cáo Tin tức - ${data.date}`,\n    totalArticles: data.totalArticles\n  }\n}];"
      },
      "name": "Generate HTML",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "your-email@gmail.com",
        "subject": "={{$json.subject}}",
        "emailType": "html",
        "message": "={{$json.html}}"
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Data": {
      "main": [
        [
          {
            "node": "Generate HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "6"
}
