workflows/daily-report.json
{
  "name": "Daily Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "name": "Schedule Daily 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Hardcode dữ liệu từ file data/news/2026-05-01.json\nconst articles = [\n  {\n    id: 'vnexpress-1',\n    title: 'AI ChatGPT ra mắt tính năng mới cho doanh nghiệp',\n    link: 'https://vnexpress.net/ai-chatgpt-ra-mat-tinh-nang-moi.html',\n    description: 'OpenAI công bố tính năng mới giúp doanh nghiệp tích hợp AI vào quy trình làm việc',\n    source: 'VnExpress',\n    category: 'Công nghệ',\n    pubDate: '01/05/2026 15:30',\n    collectedAt: '01/05/2026 16:00'\n  },\n  {\n    id: 'vnexpress-2',\n    title: 'Startup Việt gọi vốn thành công 10 triệu USD',\n    link: 'https://vnexpress.net/startup-viet-goi-von-thanh-cong.html',\n    description: 'Startup công nghệ tài chính Việt Nam vừa hoàn tất vòng gọi vốn Series A',\n    source: 'VnExpress',\n    category: 'Kinh tế',\n    pubDate: '01/05/2026 14:20',\n    collectedAt: '01/05/2026 16:00'\n  },\n  {\n    id: 'vnexpress-3',\n    title: 'Bitcoin vượt mốc 100,000 USD',\n    link: 'https://vnexpress.net/bitcoin-vuot-moc-100000-usd.html',\n    description: 'Giá Bitcoin đạt mức cao kỷ lục mới trong phiên giao dịch hôm nay',\n    source: 'VnExpress',\n    category: 'Kinh tế',\n    pubDate: '01/05/2026 13:45',\n    collectedAt: '01/05/2026 16:00'\n  }\n];\n\nconst categories = {};\narticles.forEach(article => {\n  const cat = article.category || 'Khác';\n  if (!categories[cat]) {\n    categories[cat] = [];\n  }\n  categories[cat].push(article);\n});\n\nconst categoryArray = Object.keys(categories).map(name => ({\n  name,\n  articles: categories[name]\n}));\n\nreturn [{\n  json: {\n    date: new Date().toLocaleDateString('vi-VN', {\n      timeZone: 'Asia/Ho_Chi_Minh',\n      day: '2-digit',\n      month: '2-digit',\n      year: 'numeric'\n    }),\n    totalArticles: articles.length,\n    totalSources: [...new Set(articles.map(a => a.source))].length,\n    totalCategories: categoryArray.length,\n    categories: categoryArray\n  }\n}];"
      },
      "name": "Load Today Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "const data = $input.first().json;\n\n// Tạo HTML đơn giản không cần đọc template\nlet html = `\n<!DOCTYPE html>\n<html lang=\"vi\">\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: Arial, sans-serif; max-width: 800px; margin: 0 auto; padding: 20px; background: #f4f4f4; }\n    .container { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); border-radius: 10px; padding: 30px; }\n    .header { text-align: center; color: white; margin-bottom: 30px; }\n    .header h1 { margin: 0; font-size: 32px; }\n    .stats { display: flex; justify-content: space-around; margin-bottom: 30px; background: rgba(255,255,255,0.1); padding: 20px; border-radius: 8px; }\n    .stat-item { text-align: center; color: white; }\n    .stat-value { font-size: 36px; font-weight: bold; display: block; }\n    .stat-label { font-size: 14px; opacity: 0.8; }\n    .news-section { background: white; border-radius: 8px; padding: 20px; margin-bottom: 20px; }\n    .category-title { color: #667eea; font-size: 24px; margin-bottom: 15px; padding-bottom: 10px; border-bottom: 2px solid #667eea; }\n    .news-item { padding: 15px; margin-bottom: 15px; border-left: 4px solid #667eea; background: #f9f9f9; border-radius: 4px; }\n    .news-title { font-size: 18px; font-weight: bold; margin-bottom: 8px; }\n    .news-title a { color: #333; text-decoration: none; }\n    .news-title a:hover { color: #667eea; }\n    .news-meta { font-size: 13px; color: #666; margin-bottom: 8px; }\n    .news-source { color: #667eea; font-weight: bold; }\n    .news-description { font-size: 14px; color: #555; }\n    .footer { text-align: center; color: white; margin-top: 30px; padding-top: 20px; border-top: 1px solid rgba(255,255,255,0.2); font-size: 14px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📰 Báo cáo Tin tức Hàng ngày</h1>\n      <p>${data.date}</p>\n    </div>\n    <div class=\"stats\">\n      <div class=\"stat-item\">\n        <span class=\"stat-value\">${data.totalArticles}</span>\n        <span class=\"stat-label\">Tổng số tin</span>\n      </div>\n      <div class=\"stat-item\">\n        <span class=\"stat-value\">${data.totalSources}</span>\n        <span class=\"stat-label\">Nguồn tin</span>\n      </div>\n      <div class=\"stat-item\">\n        <span class=\"stat-value\">${data.totalCategories}</span>\n        <span class=\"stat-label\">Chủ đề</span>\n      </div>\n    </div>\n`;\n\ndata.categories.forEach(category => {\n  html += `\n    <div class=\"news-section\">\n      <h2 class=\"category-title\">${category.name}</h2>\n  `;\n  \n  category.articles.forEach(article => {\n    html += `\n      <div class=\"news-item\">\n        <div class=\"news-title\">\n          <a href=\"${article.link}\" target=\"_blank\">${article.title}</a>\n        </div>\n        <div class=\"news-meta\">\n          <span class=\"news-source\">${article.source}</span> • <span>${article.pubDate}</span>\n        </div>\n        <div class=\"news-description\">${article.description}</div>\n      </div>\n    `;\n  });\n  \n  html += `</div>`;\n});\n\nhtml += `\n    <div class=\"footer\">\n      <p>Báo cáo được tạo tự động bởi <strong>News Aggregator</strong></p>\n      <p>Powered by n8n • Múi giờ: UTC+7</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    html: html,\n    subject: `📰 Báo cáo Tin tức - ${data.date}`,\n    totalArticles: data.totalArticles\n  }\n}];"
      },
      "name": "Generate HTML Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.totalArticles}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Check Has Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "message",
        "operation": "send",
        "sendTo": "your-email@gmail.com",
        "subject": "={{$json.subject}}",
        "emailType": "html",
        "message": "={{$json.html}}"
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [1050, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    message: 'Không có dữ liệu để gửi báo cáo',\n    timestamp: new Date().toLocaleString('vi-VN', {\n      timeZone: 'Asia/Ho_Chi_Minh'\n    })\n  }\n}];"
      },
      "name": "No Data Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Schedule Daily 8AM": {
      "main": [
        [
          {
            "node": "Load Today Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Today Data": {
      "main": [
        [
          {
            "node": "Generate HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Email": {
      "main": [
        [
          {
            "node": "Check Has Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Has Data": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Data Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "2"
}
