workflows/news-collector-working.json
{
  "name": "News Collector - Working",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Hardcode sources\nconst sources = [\n  {\n    name: 'VnExpress',\n    url: 'https://vnexpress.net/rss/tin-moi-nhat.rss',\n    category: 'Tin tức tổng hợp'\n  },\n  {\n    name: 'VnExpress - Công nghệ',\n    url: 'https://vnexpress.net/rss/so-hoa.rss',\n    category: 'Công nghệ'\n  },\n  {\n    name: 'VnExpress - Kinh doanh',\n    url: 'https://vnexpress.net/rss/kinh-doanh.rss',\n    category: 'Kinh tế'\n  }\n];\n\nreturn sources.map(source => ({ json: source }));"
      },
      "name": "Load RSS Sources",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          },
          "timeout": 15000
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        }
      },
      "name": "Fetch RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "mode": "xmlToJson",
        "options": {}
      },
      "name": "Parse XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "functionCode": "const sourceName = $input.first().json.name || 'Unknown';\nconst sourceCategory = $input.first().json.category || 'Khác';\n\nconst rss = $input.first().json.rss?.channel?.[0];\n\nif (!rss || !rss.item) {\n  return [];\n}\n\nconst articles = rss.item.slice(0, 10);\n\nconst results = articles.map((article, index) => {\n  const title = Array.isArray(article.title) ? article.title[0] : article.title;\n  const link = Array.isArray(article.link) ? article.link[0] : article.link;\n  const description = Array.isArray(article.description) ? article.description[0] : article.description;\n  const pubDate = Array.isArray(article.pubDate) ? article.pubDate[0] : article.pubDate;\n  \n  return {\n    json: {\n      id: `${sourceName.toLowerCase().replace(/\\s+/g, '-')}-${Date.now()}-${index}`,\n      title: title || '',\n      link: link || '',\n      description: (description || '').replace(/<[^>]*>/g, '').substring(0, 200),\n      source: sourceName,\n      category: sourceCategory,\n      pubDate: new Date(pubDate).toLocaleString('vi-VN', {\n        timeZone: 'Asia/Ho_Chi_Minh',\n        day: '2-digit',\n        month: '2-digit',\n        year: 'numeric',\n        hour: '2-digit',\n        minute: '2-digit'\n      }),\n      collectedAt: new Date().toLocaleString('vi-VN', {\n        timeZone: 'Asia/Ho_Chi_Minh',\n        day: '2-digit',\n        month: '2-digit',\n        year: 'numeric',\n        hour: '2-digit',\n        minute: '2-digit'\n      })\n    }\n  };\n});\n\nreturn results;"
      },
      "name": "Extract Articles",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "functionCode": "const includeKeywords = ['ai', 'trí tuệ nhân tạo', 'công nghệ', 'startup', 'đầu tư', 'kinh tế', 'chứng khoán', 'bitcoin', 'blockchain', 'khoa học', 'công ty'];\nconst excludeKeywords = ['tai nạn', 'tử vong', 'bạo lực'];\n\nconst filtered = $input.all().filter(item => {\n  const text = (item.json.title + ' ' + item.json.description).toLowerCase();\n  \n  const hasExclude = excludeKeywords.some(keyword => text.includes(keyword.toLowerCase()));\n  if (hasExclude) return false;\n  \n  const hasInclude = includeKeywords.some(keyword => text.includes(keyword.toLowerCase()));\n  return hasInclude;\n});\n\nreturn filtered;"
      },
      "name": "Filter by Keywords",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load RSS Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load RSS Sources": {
      "main": [
        [
          {
            "node": "Fetch RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS Feed": {
      "main": [
        [
          {
            "node": "Parse XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse XML": {
      "main": [
        [
          {
            "node": "Extract Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Articles": {
      "main": [
        [
          {
            "node": "Filter by Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "4"
}
